ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.ulinlineblock {
  text-align: center;
  list-style: none;
  padding: 0;
}
.ulinlineblock li {
  display: inline-block;
  vertical-align: top;
}
